<div class="footer">
    <div class="powered">
        Powered by <i class="fiw fiw-board-split-48-filled"></i> <a href="https://hexo.io">Hexo</a> &  theme <i class="fiw fiw-fluent-48-filled"></i> <a href="https://github.com/Big-Cake-jpg/hexo-theme-fluent">Fluent</a>
    </div>
</div>