<fluent-card class="sidebar">
    <div class="avatar">
        <img width="128" height="128" alt="avatar" src="<%- theme.avatar %>"/>
    </div>
    <div class="profile">
        <i class="fiw fiw-person-48-filled"></i><p><%- theme.author %></p>
    </div>
</fluent-card>